body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  color: rgb(72, 11, 11);
}

h1,h5{
    margin: 0;
    padding: 0;
}
.detail{
    padding-left: 1rem;
    text-align: justify;
}
.profil{
    background-color: brown;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 36.5rem;
}
.entete{
    display: flex;
    background-color: rgb(184, 97, 97);
    padding: 1rem;
  margin-left: 1rem;
  border-radius: 15px;
  width: 35.5rem;
    }
.profil img{
    width: 8rem;
    height: 8rem;
    border: 7px solid brown;
 border-radius: 50%;
}
.profil p{
    width: 22rem;
    text-align: justify;
}
ul{
    list-style: none;
   
    margin-block-start: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.sous-contenu{
    display: flex;
    justify-content: center;

}
.side-left-1 {
    background-color:  rgb(184, 97, 97);
    padding: 0.7rem;
   width: 19.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 15px;   
}
.side-left-1 li{
    padding: 0.5rem ;
    text-align: justify;
    }
    .side-left-1 li img{
        padding-right: 1rem;
    }
    .side-left-2 {
        background-color: brown;
        width: 19.4rem;
        margin: 0.5rem 0.5rem 0 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .side-left-2 li{
        padding: 0.2rem;
        text-align: justify;
    }
    
.container  img{
    padding-right: 1rem;
    width: 30px;
}
    .side-left-2 .div{
        background-color:  rgb(184, 97, 97);
        padding: 1rem;
        margin-left: 0.8rem;
        border-radius: 15px;
    }
.side-right-1 {
    background-color:  rgb(184, 97, 97);
  width: 16.6rem;
  margin: 0.5rem 0 0.5rem 0;
    padding: 1rem;
    border-radius: 15px;
}

.side-right-1 span{
    display: flex;
    margin-left: 1rem;
}

h4{
    text-align: start;
}
.side-right-2{
    background-color:  brown;
    margin: 0.5rem 0.5rem 0 0;
    padding: 1.2rem;
    width: 17rem;
    border-radius: 15px;
}
.side-right-2 span{
    display: flex;
    justify-content: center;
    
}
.side-right-2 span img{
  width: 30px;

}
.side-right-2 ul {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.side-right-2 ul li{
    padding: 0.4rem;
  
}
.side-right-2 h4{
padding: 0;
margin: 9px;
color: rgb(147, 76, 76);
}

* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; 
  display: flex;
  height: 1.9rem;
}

.bg {
display: flex;
}

.skill {
    width: 14rem; 
    height: 9px;
    background-color: rgb(147, 76, 76);
   margin-top: 0.5rem;
    margin-left: 1rem;
     border-radius: 15px;

    } 
    .html,.css,.js,.react{
        background-color: brown;
        height: 9px;
         border-radius: 15px;
    }
    .html{
        width: 13rem; 
    }
.css {
    width: 10rem; 
    }
    .js{
        width: 11rem; 
    }
    .react{
        width: 2rem; 
    }
    


@media screen and (max-width:700px) {
    body{
        height: 100%;
    }
    .sous-contenu{
        display: block;
    }
 
    .profil{
        background-color: brown;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width:320px;
    }
    .entete{
        display: block;
      text-align: center;
      width: 19rem;
        }
        .detail{
            padding-left: 1rem;
            text-align: center;
        }
        .profil p{
            width: 16rem;
            text-align: justify;
        }
        .side-left-1{
           width: 320px;
         
        }
        .side-left-2 .div{
            width: 300px;
        }
        .side-right-1,.side-right-2{
            width: 315px;
        }
}
